@charset "UTF-8";
:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border:.1rem solid rgba(255, 255, 255, 0.986);
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  color: #f4f4f4;
}

body {
  background: linear-gradient(to bottom, #000000, #808080);
}

h1 {
  margin-left: 5%;
  font-weight: bold;
  color: var(--main-color);
}

h3 text {
  font-size: 1rem;
  text-align: center;
  width: 100px;
  font-weight: bold;
  margin-left: 5%;
}

button {
  background-color: var(--main-color);
  color: #f4f4f4;
  width: 13%;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin-left: 5%;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

/*HEADER*/
header {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: 1;
  justify-content: stretch;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
}
.header-container .logo {
  grid-column: 2/2;
  grid-row: inherit;
  justify-self: center;
  align-items: center;
}
.header-container .logo img {
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: auto;
}
.header-container .navbar-desk {
  grid-column: 1/2;
  grid-row: inherit;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.header-container .menu-left ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  list-style-type: none;
}
.header-container .menu-left ul li {
  padding: 0px 50px 0px 0px;
}
.header-container .menu-left ul li a {
  text-decoration: none;
  color: white;
}
.header-container .menu-right {
  display: flex;
  grid-row: inherit;
  justify-self: center;
}
.header-container .menu-right ul {
  list-style: none;
  justify-content: center;
  text-align: center;
}
.header-container .menu-right ul li a {
  display: flex;
  color: white;
  text-decoration: none;
}
.header-container ul {
  margin-top: 1rem;
}
.header-container .iconos {
  display: inline-flex;
  grid-column: 3/3;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
.header-container .iconos a {
  padding-left: 30px;
}
.header-container .iconos img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  filter: invert(100%);
}
.header-container .search {
  display: inline-flex;
  grid-column: 3/3;
  height: 3rem;
}
.header-container .search input {
  border: none;
  border-radius: 20px;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--black);
  width: 100%;
}

@media (max-width: 1024px) {
  /*header*/
  .navbar-desk {
    display: none;
  }
  .search {
    display: none;
  }
  .search input {
    display: none;
  }
  .menu-right ul {
    display: none;
  }
}
/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 5rem;
}
.footer .footer-listas {
  grid-column: 1/1;
  grid-row: 1/1;
  display: inline-flex;
  margin-left: 10rem;
}
.footer .footer-list {
  width: 100%;
}
.footer .footer-list h4 {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  display: inline-block;
}
.footer .footer-list ul {
  padding-left: 0;
}
.footer .footer-list ul li {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: #BBBBBB;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer .footer-list ul li a {
  font-size: 18px;
  color: #BBBBBB;
}
.footer .footer-list ul li:hover {
  color: #FFFFFF;
  padding-left: 6px;
}
.footer .footer-p {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/1;
  flex-direction: column;
  margin-left: 10rem;
}
.footer .footer-p h4 {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  display: inline-block;
}
.footer .footer-p p {
  text-transform: initial;
  word-spacing: 0.5px;
  margin-right: 10rem;
}
.footer .footer-p form {
  display: inline-flex;
}
.footer .footer-p input {
  color: var(--main-color);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0.5rem;
  border-radius: 20px;
  text-align: center;
}
.footer .footer-p button {
  background-color: var(--main-color);
  color: #f4f4f4;
  width: 50%;
  height: 3rem;
  padding: 1rem 1rem;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
}
.footer .social a {
  display: inline-block;
  justify-content: space-between;
  min-height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
}
.footer .social a:hover {
  background-color: var(--main-color);
}
.footer .container-abajo {
  grid-column: span 2;
  width: 100%;
  height: 5rem;
  background-color: #e2e2e2;
  padding: 5rem;
}
.footer .container-abajo h6 {
  display: flex;
  color: #000000;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .container-abajo .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.footer .container-abajo .copy ul {
  display: flex;
  width: 50rem;
  height: 10px;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
  text-transform: initial;
  padding-left: 0;
}
.footer .container-abajo .copy li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  padding: 0 1rem;
  border-right: var(--black) solid;
  transition: all 0.3s ease;
}
.footer .copy ul li:last-child {
  border-right: none;
}
.footer .copy ul li:hover {
  color: var(--main-color);
}

@media (max-width: 1024px) {
  .footer {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    margin-top: 5rem;
  }
  .footer .footer-list {
    display: none;
  }
  .footer .footer-p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .footer .footer-p h4 {
    font-size: 1rem;
    text-align: center;
  }
  .footer .footer-p p {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .container-abajo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .container-abajo h6 {
    visibility: hidden;
  }
  .container-abajo .copy {
    margin-top: 1rem;
    align-items: center;
  }
  .container-abajo .copy ul {
    align-items: center;
    flex-direction: column;
  }
  .container-abajo .copy ul li {
    font-size: 1rem;
    border-right: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .menuhamburguesa {
    display: none;
  }
}
.offcanvas-title {
  color: var(--main-color) !important;
}

.btn-close {
  filter: invert(100%);
}

.navbar-nav {
  text-align: justify !important;
}

.btn {
  background-color: inherit !important;
}

.carousel-inner {
  height: 40rem;
}

.carousel-item {
  justify-content: center;
  align-items: center;
  padding: 5rem;
  width: 100%;
  height: 100%;
}
.carousel-item .card-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 567px) {
  .carousel-item .card:not(:first-child) {
    display: none;
  }
}
.carousel-item .img-wrapper {
  display: flex;
  justify-content: center;
}
.carousel-item .img-wrapper img {
  border-radius: 20%;
  width: 200px;
  margin-top: 2rem;
  max-width: 100%;
  max-height: 100%;
}
.carousel-item .card-title {
  margin-left: 5%;
  color: var(--main-color);
}
.carousel-item .card-text {
  text-align: start;
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-control-prev {
  margin-left: 0;
}

.carousel-control-next {
  margin-right: 0;
}

.carousel-inner .carousel-item {
  transition-duration: 0.5s; /* Cambia el tiempo de transición a 2 segundos */
}

.carousel-item {
  animation-duration: 1s; /* Cambia el tiempo de la animación a 1 segundo */
}

/*INDEX*/
.container-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4, 1fr;
  row-gap: 3rem;
}
.container-principal .container-titulo {
  display: grid;
  background-image: url("../img/mainlatteabag.png");
  background-color: rgba(0, 0, 0, 0.5); /* El último valor es la opacidad */
  background-blend-mode: multiply; /* Para mezclar la imagen con el color de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-self: center;
  height: 30rem;
  width: 100%;
  padding-top: 10rem;
  grid-template-columns: 1/2;
  grid-column: span 2;
  grid-row: 1;
  margin-bottom: 3rem;
}
.container-principal .seccion-a {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  grid-column: span 2;
  grid-row: 2;
}
.container-principal .seccion-a h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
  padding-bottom: 20px;
}
.container-principal .seccion-a h3 {
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 10%;
  border: var(--border);
  padding: 10px;
  border-radius: 10px;
}
.container-principal .seccion-b {
  display: flex;
  background-image: url("../img/section1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
  display: flex;
  padding: 2rem;
  width: 80%;
  height: 500px;
  margin-left: 10%;
  grid-column: span 2;
  grid-row: 3;
  margin-bottom: 3rem;
}
.container-principal .seccion-b h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-left: 5%;
  padding-bottom: 20px;
  color: var(--main-color);
}
.container-principal .seccion-c {
  grid-column: 1/span 2;
  display: flex;
}
.container-principal .seccion-c img {
  border-radius: 20%;
}
.container-principal .img-1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.container-principal .img-1 img {
  width: 35rem;
  height: 35rem;
  max-width: 100%;
  max-height: 100%;
}
.container-principal .img-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-principal .img-2 img {
  width: 35rem;
  height: 35rem;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 600px) {
  .contenedor-principal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .seccion-c {
    display: flex;
    flex-direction: column;
  }
  .seccion-c .img-1 {
    margin-bottom: 5rem;
  }
}
/*PAGINA NOVEDADES*/
.container-novedades {
  display: flex;
  background-image: url("../img/backgroundnovedades.jpg");
  background-color: rgba(0, 0, 0, 0.5); /* El último valor es la opacidad */
  background-blend-mode: multiply; /* Para mezclar la imagen con el color de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  grid-column: span 2;
}
.container-novedades h1 {
  display: flex;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.contenedor-general {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.contenedor-general .noticia1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 50%;
  font-size: 1.5rem;
  gap: 2rem;
}
.contenedor-general .noticia1 h2 {
  display: flex;
  grid-column: 1/1;
  color: var(--main-color);
}
.contenedor-general .noticia1 p {
  display: flex;
  grid-column: 1/1;
}
.contenedor-general .noticia2 {
  grid-column: 2/2;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 50%;
  font-size: 1.5rem;
  gap: 2rem;
}
.contenedor-general .noticia2 h2 {
  display: flex;
  color: var(--main-color);
  grid-column: 2/2;
}
.contenedor-general .noticia2 p {
  display: flex;
  grid-column: 2/2;
}
.contenedor-general .noticia3 {
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 50%;
  font-size: 1.5rem;
  gap: 2rem;
}
.contenedor-general .noticia3 h2 {
  display: flex;
  color: var(--main-color);
  grid-column: 1/1;
}
.contenedor-general .noticia3 p {
  display: flex;
  grid-column: 1/1;
}
.contenedor-general .imagen-right {
  display: flex;
  justify-content: center;
  grid-column: 2/2;
  justify-self: start;
}
.contenedor-general .imagen-right img {
  grid-column: 2/2;
  border-radius: 20%;
  width: 480px;
  height: 480px;
}
.contenedor-general .imagen-right2 {
  display: flex;
  justify-content: center;
  grid-column: 2/2;
  justify-self: start;
}
.contenedor-general .imagen-right2 img {
  grid-column: 2/2;
  border-radius: 20%;
  width: 480px;
  height: 480px;
}
.contenedor-general .imagen-left {
  display: flex;
  justify-content: center;
  grid-column: 1/1;
  justify-self: end;
}
.contenedor-general .imagen-left img {
  grid-column: 2/2;
  grid-auto-flow: dense;
  border-radius: 20%;
  width: 480px;
  height: 480px;
}

@media (max-width: 1024px) {
  .container-novedades {
    display: flex;
    width: 100%;
    height: 20rem;
  }
  .contenedor-general {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  #titulo-fondo {
    display: flex;
    font-size: 1rem;
  }
  .noticia1 {
    display: flex;
    margin-left: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0;
    font-size: 1rem;
    gap: 0;
  }
  .noticia1 p {
    display: flex;
    margin-left: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .noticia2 {
    display: flex;
    margin-left: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0;
    font-size: 1rem;
    gap: 0;
  }
  .noticia2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .noticia3 {
    display: flex;
    margin-left: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0;
    font-size: 1rem;
    gap: 0;
  }
  .noticia3 p {
    display: flex;
    margin-left: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .imagen-right img {
    max-width: 100%;
    width: auto;
  }
  .imagen-right2 img {
    max-width: 100%;
    width: auto;
  }
  .imagen-left img {
    max-width: 100%;
    width: auto;
  }
}
/*PAGINA PRODUCTOS*/
.container-productos {
  background-image: url("../img/mainproductos1.jpg");
  background-position: center;
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  flex-direction: column;
  object-fit: cover;
}

/*PAGINA NOSOTROS*/
.container-nosotros {
  display: flex;
  background-image: url("../img/equipo.jpg");
  background-color: rgba(0, 0, 0, 0.2); /* El último valor es la opacidad */
  background-blend-mode: multiply; /* Para mezclar la imagen con el color de fondo */
  background-position: center;
  width: 100%;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  flex-direction: column;
  object-fit: cover;
}
.container-nosotros h1 {
  margin-left: 5%;
  margin-top: 5rem;
}
.container-nosotros h2 {
  margin-top: 25rem;
  margin-left: 5%;
}

.elproyecto {
  display: flex;
  flex-direction: column;
}
.elproyecto h2, .elproyecto h3 {
  margin-left: 5%;
}
.elproyecto img {
  width: 90%;
  height: 40rem;
  margin-left: 5%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.elproyecto p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 5%;
  text-align: justify;
  line-height: 1.5rem;
}

.collage {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sillas {
  display: flex;
  grid-row: span 2;
  width: 100%;
  height: 100%;
  margin-left: 5%;
}
.sillas img {
  width: 80%;
  height: auto;
  margin-left: 15%;
}

.bolsas img {
  width: 80%;
}

.maquina img {
  width: 80%;
}

/*PAGINA ENCONTRANOS*/
.container-encontranos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 100%;
}
.container-encontranos .corazonderoca {
  width: 100%;
  margin-top: 5rem;
  grid-column: 1/span 2;
  margin-bottom: 5rem;
}
.container-encontranos .corazonderoca h1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
}
.container-encontranos .corazonderoca img {
  width: 80%;
  margin-left: 10%;
  border-radius: 5%;
}
.container-encontranos .ubicacion {
  display: grid;
}
.container-encontranos .ubicacion .fachada {
  display: flex;
  flex-direction: column;
  grid-column: 1/1;
  grid-row: 1/1;
  width: 100%;
  justify-self: center;
  justify-items: center;
  width: 40rem;
}
.container-encontranos .ubicacion .fachada img {
  display: flex;
  height: 40rem;
  justify-content: center;
  border-radius: 10%;
}
.container-encontranos .ubicacion .fachada h3 {
  margin-left: 30%;
}
.container-encontranos .ubicacion .latte-maps {
  display: flex;
  flex-direction: column;
  justify-items: center;
  grid-column: 2/2;
  grid-row: 1/1;
}
.container-encontranos .ubicacion .latte-maps iframe {
  display: flex;
  margin-left: 10%;
  width: 40rem;
  height: 40rem;
  border-radius: 10%;
}
.container-encontranos .ubicacion .latte-maps h3 {
  margin-left: 10%;
}
.container-encontranos .direccion-roca {
  display: grid;
  grid-column: 1/span 2;
  grid-row: 3/3;
  margin-top: 5rem;
  display: flex;
}
.container-encontranos .direccion-roca h3 {
  justify-content: center;
  text-align: center;
  color: var(--main-color);
}

/*PAGINA CONTACTO*/
.contact-form {
  max-width: 600px;
  margin: 80px auto 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  display: block;
  color: var(--black);
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: auto;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0089a5;
}

/*# sourceMappingURL=styles.css.map */
