/*PAGINA ENCONTRANOS*/
.container-encontranos{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   width: 100%; 
   .corazonderoca{
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      margin-bottom: 5rem;
      h1{
         text-align: center;
         margin-bottom: 3rem;
         font-size: 2em;
      } 
      img{
         width: 60%;
         border-radius: 5%;
         margin-left: 20%;
      }
   } 
   .ubicacion{
      grid-column: span 2;
      display: grid;
      grid-row-gap: 5rem;
      grid-column-gap: 5rem;
      place-content: center;
      .fachada{
         grid-column: 1;
         grid-row: 2 / span 1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         width: 100%;
         max-width: 40rem;
         img{
            width: 50rem;
            height: 50rem;
            max-width: 100%;
            max-height: auto;
            border-radius: 10%;
            object-fit: contain;
         }
      }
      .latte-maps{
         grid-column: 2;
         grid-row: 2 / span 1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         object-fit: contain;
         iframe{
            width: 50rem;
            height: 50rem;
            border-radius: 10%;
            object-fit: contain;
         }
      }
   } 
   .direccion-roca{
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
      h3{
         color: var(--main-color);
      }
   }
 }

@media (max-width: 1024px) {
   .ubicacion{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
   .fachada img {
     max-width: 100%;
     height: auto;
   }
   
   .latte-maps iframe {
     max-width: 100%;
   }
 }