/*PAGINA ENCONTRANOS*/
.container-encontranos{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   width: 100%; 
   .corazonderoca{
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      margin-bottom: 5rem;
      justify-content: center;
      align-items: center;
      h1{
         text-align: center;
         margin-bottom: 3rem;
         font-size: 2em;
         margin-left: 16px;
         margin-right: 16px;
      } 
      img{
         width: 80rem;
         height: auto;
         max-width: 100%;
         border-radius: 5%;
         padding-left: 16px;
         padding-right: 16px;
      }
   }
   .ubicacion{
      grid-column: span 2;
      display: grid;
      grid-row-gap: 5rem;
      grid-column-gap: 2rem;
      place-content: center;
      .fachada{
         grid-column: 1;
         grid-row: 2 / span 1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         width: 100%;
         img{
            width: 50rem;
            height: 50rem;
            max-width: 100%;
            max-height: 100%;
            border-radius: 10%;
            padding-left: 16px;
            padding-right: 16px;
            
         }
      }
      .latte-maps {
         grid-column: 2;
         grid-row: 2 / span 1;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;  
       }
      .latte-maps iframe {
         max-width: 100%;
         max-height: auto;
         width: 50rem;
         height: 50rem;
         border-radius: 10%;
         padding-left: 16px;
         padding-right: 16px;
       }
   } 
   .direccion-roca{
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
      padding-left: 16px;
      padding-right: 16px;
      h3{
         color: var(--main-color);
      }
   }
 }

@media (max-width: 1024px) {
   .container-encontranos .ubicacion{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; 
      justify-content: center;
      align-items: center; 
      margin-left: 16px; 
      margin-right: 16px;
      .fachada img {
         max-width: 100%;
         height: auto;
      }
      .latte-maps iframe {
         max-width: 100%;
         max-height: 100%;
      }
   }
}