   .carousel-inner{
      height: 40rem;
   }
   .carousel-item{
      justify-content: center;
      align-items: center;
      padding: 5rem;
      .card{
         width: 100%;
         height: auto;      
         .img-wrapper{
            display: flex;
            justify-content: center;
            img{
               border-radius: 20%;
               width: 200px;
               margin-top: 2rem; 
            }
         }
         .card-title{
            margin-left: 5%;
            color: var(--main-color);
         }
         .card-text{
            text-align: start;
            margin-left: 5%;
            margin-right: 5%;
         }
      }
      .card-wrapper{
         display: flex;
         justify-content: center;
         object-fit: contain;
         img {
            max-width: 100%;
         }    
         @media screen and (max-width: 768px){
            .card:not(:first-child){
               display: none;
               position: absolute;
            }
         } 
      }
   }
   .carousel-control-prev{
      margin-left: 0;
   }
   .carousel-control-next{
      margin-right: 0;
   }

   .carousel-inner .carousel-item {
      transition-duration: 0.5s; 
   }
   .carousel-item {
      animation-duration: 1s;
   }
   .fa-circle-down{
      color: #d3ad7f
   }