
 @media only screen and (min-width: 600px) {
  .menuhamburguesa{
    display: none;
  }
 }
.offcanvas-title{
  color: var(--main-color) !important;
}
.btn-close{
  filter: invert(100%);
}
.navbar-nav{
  text-align: justify !important;
}
.btn{
  background-color: inherit !important;
}