
@media only screen and (min-width: 1025px) {
  .menuhamburguesa{
    display: none;
  }
}
.menuhamburguesa .offcanvas-title{
  color: var(--main-color);
}
.menuhamburguesa .btn-close{
  filter: invert(100%);
}
.menuhamburguesa .navbar-nav{
  text-align: justify;
}
.menuhamburguesa .btn{
  background-color: inherit;
}
.menuhamburguesa .fa-bars{
    color: #a67d0c;
}

.menuhamburguesa .fa-mug-hot{
  color: #a67d0c;
}